@import "tailwindcss";

@source "../app";
@source "../components";
@source "../lib";
@source "../pages";
@source "../src";

/* O Tailwind v4 usa CSS-First para o tema. Vamos restaurar o tema padrão aqui */
@theme {
    --color-primary: #1f66f4;
    --color-background-light: #f5f6f8;
    --color-background-dark: #101622;
}


/* Hack para forçar a Vercel a processar o CSS */
@layer utilities {
    .force-tailwind-load {
        display: block;
    }
}